:root {
  font-size: 14px;
}

body {
  font-family: Larsseit, Arial, sans-serif;
}

.form {
  padding: 0.5rem;
}

.form select {
  border: rgb(118, 118, 118) 1px solid;
  border-radius: 0.25rem;
  cursor: default;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.form input {
  border: rgb(118, 118, 118) 1px solid;
  border-radius: 0.25rem;
  cursor: default;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding: 0.5rem 0rem;
  text-indent: 0.75rem;
  flex: 0 0 49%;
}

.priceKm {
  display: flex;
  justify-content: space-between;
}

.form button {
  background-color: #146cbf;
  color: #fff;
  width: 49%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: 1px solid #146cbf;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /*For hiding the arrows on the number field */
}

.formInnerContainer {
  border: 0.0625rem solid #dedee1;
  border-radius: 0.25rem;
  padding: 0 0.75rem;
}

.results {
  position: relative;
  margin: 1rem;
  background: #fff;
  border-radius: 0;
  display: flex;
  padding: 0;
  box-shadow: 0 2px 4px #2d2f3b1f;
}

.results img {
  margin: 0;
  width: 8.75rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  object-fit: cover;
}

.details h3 {
  padding-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.details p {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.results h2 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.5rem;
}

.formInnerContainer h1 {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}



@media (min-width: 640px) {
  .formOuterContainer {
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px #2d2f3b1f;
    margin-top: 2rem !important;
    width: 80%;
    margin: auto;
  }

  .results {
    width: 80%;
    margin: auto;
    margin-top: 2rem !important;
  }

  .formInnerContainer {
    padding: 0.5rem 0.75rem;
  }

  .makeModel select {
    flex: 0 0 49%;
  }

  .makeModel {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-around;
  }

  .form input {
    flex: 0 0 47%;
  }

  .priceKm {
    display: flex;
    flex: 0 0 35%;
    justify-content: space-around;
  }

  .form {
    display: flex;
    align-items: baseline;
  }
}